<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Nossos Produtos</h1>
    <ul>
        <li>Cadeira Gamer</li>
        <img src="C:\Users\nilson.telles.SENACRJEDU\Documents\projetodjango\cadeira.webp" alt="Cadeira Gamer" width="500" height="300">
        <li>Memoria Ram </li>
        <li>Teclado</li>
        <li>Monitor</li>
        <li>Mouse</li>
    </ul>
    
</body>
</html>